@charset "UTF-8";

body {
	margin: 0;
	padding:50px;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #fff;
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	box-sizing: border-box;
}

label span,p span { color:#de4f41;}
.header {
	margin:50px;	
}

.form-wrapper {
	border: 1px solid #aaa;
	border-radius: 30px;
	width: 1000px;
	padding: 50px;
	
}

.input-wrapper { margin: 20px 0; text-align: left; box-sizing: border-box;}
.input-wrapper label { margin: 6px 0 7px; }

input[type=text],
input[type=email],
input[type=password],
input[type=tel] {width:100%; height:48px; font-size:13px; color:#373737; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 20px;}

.input-wrapper select { width:100%; height:48px; font-size:13px; color:#777; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 10px; }