@charset "UTF-8";

.join-form {
	margin: 50px;
	border: 1px solid #aaa;
	border-radius: 30px;
	width: 1000px;
	padding: 50px;
}

label span,p span { color:#de4f41;}
.header {
	margin:50px;	
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	box-sizing: border-box;
	
}

.input-wrapper {display:block; margin: 20px 0; text-align: left; box-sizing: border-box;}
.input-wrapper label { margin: 6px 0 7px; }

input[type=text],
input[type=email],
input[type=password],
input[type=tel] {width:100%; height:48px; font-size:13px; color:#373737; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 20px;}

.input-wrapper select { width:100%; height:48px; font-size:13px; color:#777; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 10px; }

input[name="gender"] { position: relative; top: 1.5px; padding-right:50px;}
.btn-join-done { background-color:#343A40; color: #fff; border-radius: 10px; width: 180px; height:48px; font-size: 16px; border:0;}