@charset "UTF-8";

.join-form {
	margin: 50px;
	border: 1px solid #aaa;
	border-radius: 30px;
	width: 1000px;
	padding: 50px;
}

label span,p span { color:#de4f41;}

.header {
	margin:50px;	
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	box-sizing: border-box;
	
}

.input-wrapper {display:block; margin: 20px 0; text-align: left; box-sizing: border-box;}
.input-wrapper label { display : inline-block; width:100%; margin: 6px 0 7px; }

.input-form {width:100%; height:48px; font-size:13px; color:#373737; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 20px; }

.btn-join-done { background-color:#343A40; color: #fff; border-radius: 10px; width: 180px; height:48px; font-size: 16px; border:0; outline:0;}


.addr_btn { display:iline-block; padding: .5em 1em; margin: .4em .15em; border: 1px solid #ccc; border-color: #dbdbdb #d2d2d2 #b2b2b2 #d2d2d3; cursor:pointer; color: #464646; border-radius:.2em; vertical-align:middle; font-size: 1em; line-height:1.25em;background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f2f2f2));}
.addr_form.std { width:25em}
.addr_form.mini {width:7em}
.addr_form { margin: .2em 0;
    font-size: 1em;
    padding: 1px 2px;
    border: 1px solid #ccc;
    border-color: #dbdbdb #d2d2d2 #d0d0d0 #d2d2d3;
    box-shadow: inset 0.1em 0.1em 0.15em rgb(0 0 0 / 10%);
    vertical-align: middle;
    line-height: 1.25em;
    outline: 0;
    width: 20em;
    height:48px;
    }
    
/*
input[type=text],
input[type=email],
input[type=password],
input[type=tel]  {width:100%; height:48px; font-size:13px; color:#373737; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 20px;}*/

select { width:100%; height:48px; font-size:13px; color:#777; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 10px; }
input[name="gender"] { position: relative; top: 1.5px; padding-right:50px;}