@charset "UTF-8";

button { border:0; outline:0;}

:root { -webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
box-sizing: border-box;
}
/* 로그인 폼 */

.container {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin:0 auto;
	max-width: 580px;
}

.loginForm-logo-area {
	margin: 37px 0 30px;
}
.form-group { 
font-family: inherit;	
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
box-sizing: border-box;
margin-bottom: 1rem;
}

.btn-primary {
margin: 0;
width:100%;
font-family: inherit;
overflow: visible;
text-transform: none;
display: inline-block;
font-weight: 400;
text-align: center;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: #fff;
background-color: #343A40;
border-color: #343A40;
cursor: pointer;
}

.find-info{
	margin: 20px 0 0;
}

.find-info a {
	display: inline-block;
    position: relative;
    padding: 0 10px;
    font-size: 13px;
    color: #202429;
    line-height: 18px;
}

.find-info a::after {
	content:"|";
	float:right;
	margin-right:-17px;	
}

.find-info a:last-child::after {
	content:"";
}
/* End 로그인 폼*/


/*모달 로그인 폼 css */
.popup a { text-decoration: none; color:#222}
.popup .header { margin:0;margin-bottom:35px; }
.popup .divider {margin:20px 0; color:#e8e8e8}
.popup button { margin: 20px 0 0; cursor: pointer;}

.popup { position: fixed; left:50%; top:50%; padding: 52px 60px 60px; width: 500px; height: 700px; transform: 
translate(-50%, -50%); box-sizing: border-box; z-index: 99; background: #fff;}

.popup .close { position: absolute; right: 15px; top:15px; 
width:24px; height:24px; background: url(../images/close-btn.png) no-repeat; object-fit: cover; color: transparent;}

.popup h2{ padding: 0; margin: 0 0 12px; font-size: 20px; color:#222; text-align: center; line-height: 20px;}
.popup p { font-size: 13px; margin: 0 0 20px;}




.input-wrapper { margin:13px 0; text-align: left; box-sizing: border-box;}
.input-wrapper .label { display:block; line-height:20px; margin: 6px 0 7px;}
.input-wrapper a.forgotten-password {position: absolute; text-decoration: none; right:52px;}
.input-wrapper span { color:#de4f41;}
input[type=text],
input[type=password] {width:100%; height:48px; font-size:13px; color:#373737; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 20px;}

.login-btn { width: 100%; height:48px; padding: 16px; background-color: #343A40;; border:1px solid #343A40; color:#fff}
.login-btn:hover { background-color: #707070; border-color: #707070}
.member-btn { width: 100%; height:48px; padding: 16px; background-color: #fff; border: 1px solid #222;}
.membership-info { text-align: center; margin-top:12px; text-decoration: none; text-transform: none; display:block;}

.dim { position: fixed; left:0; top:0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index:98;}
/* End 모달 로그인 폼 css*/

/* 소셜 로그인 css*/

/* 소셜 로그인 버튼 css*/
.social-login-frame { width:400px; height: auto; display:block; position:relative; margin:0 auto;}
.social-login-frame a {width:64px; min-height:64px; float:left; margin:17px 15px 10px;}
.modal-social-login-frame { width:300px; height: auto; display:block; position:relative; margin:0 auto;}
.modal-social-login-frame a {width:48px; min-height:48px; float:left; margin:17px 10px 10px;}
.kakao-login-btn {  background:url(../images/login_icon/sns_logo/KKT-1.png) no-repeat; background-size:100% 100%;;}
.naver-login-btn { background:url(../images/login_icon/sns_logo/N-1.png) no-repeat; background-size:100% 100%;; }
.google-login-btn { background:url(../images/login_icon/sns_logo/G-1.png) no-repeat; background-size:100% 100%;; }
.facebook-login-btn  { background:url(../images/login_icon/sns_logo/f-1.png) no-repeat; background-size:100% 100%;; }

.social-login{
	width: 100%;
	margin : 10px auto;
	margin-top:120px;
	display:inline-block;
}
.modal-social-login{
	width: 100%;
	margin : 10px auto;
	display:inline-block;
}
.modal-social-login h2, .social-login h2 {
	display:block;
    position: relative;
    margin: 0;
    text-align: center;
    line-height: 18px;
}
.modal-social-login h2::before, .social-login h2::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsla(215,8%,54%,.3);
    transform: translateY(-50%);
    content: "";
}

.modal-social-login h2 span, .social-login h2 span{
    display: inline-block;
    position: relative;
    max-width: 70%;
    padding: 0 12px;
    font-weight: 400;
    font-size: 13px;
    color: #808893;
    word-wrap: break-word;
    vertical-align: top;
    background: #fff;
    z-index: 1;
}
/* 소셜 로그인 css 끝*/