@charset "UTF-8";

body { font-size:13px; color: #222; font-family: "HM Sans Regular","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif; box-sizing: border-box;}

.popup a { text-decoration: none; color:#222}
.popup .header { margin-bottom:35px; }
.popup .divider {margin:20px 0; color:#e8e8e8}
.popup button { margin: 20px 0 0;}

.popup { display:none; position: fixed; left:50%; top:50%; padding: 52px 60px 60px; width: 500px; height: 825px; transform: 
translate(-50%, -50%); box-sizing: border-box; z-index: 99; background: #fff;}

.popup .close { position: absolute; right: 15px; top:15px; 
width:24px; height:24px; background: url(../images/close-btn.png) no-repeat; object-fit: cover; color: transparent;}

.popup h2{ padding: 0; margin: 0 0 12px; font-size: 20px; color:#222; text-align: center; line-height: 20px;}
.popup p { font-size: 13px; margin: 0 0 20px;}

.kakao-login-btn { width:100%; min-height:48px; font-weight:400; background-color: #fee500; border:0 solid transparent; margin:0px;}
.kakao-login-btn:hover { background-color: rgba(240,215,0,0.85); border:0 solid transparent;}

.naver-login-btn { width:100%; min-height:48px; font-weight:400; background-color: green; border:0 solid transparent;}

.google-login-btn {width:100%; min-height:48px; font-weight:400; background-color: red; color:#fff;border:0 solid transparent;}

.input-wrapper { margin:13px 0; text-align: left; box-sizing: border-box;}
.input-wrapper label { margin: 6px 0 7px;}
.input-wrapper a.forgotten-password {position: absolute; text-decoration: none; right:52px; line-height: 30px;}
.input-wrapper span { color:#de4f41;}
input[type=text],
input[type=password] {width:100%; height:48px; font-size:13px; color:#373737; border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 20px;}

.login-btn { width: 100%; height:48px; padding: 16px; background-color: #222; border:1px solid #222; color:#fff}
.login-btn:hover { background-color: #707070; border-color: #707070}
.member-btn { width: 100%; height:48px; padding: 16px; background-color: #fff; border: 1px solid #222;}
.membership-info { text-align: center; margin-top:12px; text-decoration: none; text-transform: none; display:block;}

.dim {display:none; position: fixed; left:0; top:0; width: 100%; height: 100%; background: rgba(0,0,0,0.5)}